<% layout("layouts/boilerplate.ejs") %>
<!-- TO PASS THIS CONTENT TO BOILERPLATE.ejs FILE AS A TEMPLATE -->
<h1>All Campgrounds</h1>
    <a href="/campgrounds/new"><button>ADD NEW CAMPGROUND</button></a>
    
        <% for(camp of campgrounds){ %>
        <div class="card">
            <div class="row">
                <div class="col md-4">
                    <img class="img-fluid" src="<%= camp.image %>" >
                </div>
                <div class="col md-8">
                    <div class="card-body">
                            <h5><%= camp.title  %></h5>
                            <p class="card-text"><%= camp.description  %></p>
                            <p class="card-text text-muted">
                                <small><%= camp.location %></small> </p>
                            <a href="campgrounds/<%= camp._id %>" class="btn btn-primary">View Location</a>
                    </div>
                </div>
            </div>
        </div>
     <%   } %>

